body {
  background-image: linear-gradient(
    to top,
    #a7a6cb 0%,
    #8989ba 52%,
    #8989ba 100%
  );
}

.app-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  -webkit-text-fill-color: 5px black;
  -webkit-text-stroke: 0.1px rgb(124, 24, 103);
  text-align: center;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.sailorCard {
  border: 1px solid black;
  border-radius: 10px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.identity {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.imagen {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.birthday {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.about {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.color {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}