body {
  background-image: url("https://i.pinimg.com/736x/dd/2e/31/dd2e315b6a9478333c81b8f95cb2cd03.jpg");

}

.app-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  color: hotpink;
  background-color: white;
  text-align: center;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}
.App input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 8px;
}

.sailorCard {
  border: 1px solid black;
  border-radius: 10px;
  background-image: url("https://i.pinimg.com/originals/78/c1/3d/78c13d64695ccd3109702f5e2d8eaf71.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.marinera {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.identity {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.imagen {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.birthday {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.about {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.color {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}